SBPO_2026_presentation.aux
SBPO_2026_presentation.fdb_latexmk
SBPO_2026_presentation.fls
SBPO_2026_presentation.log
SBPO_2026_presentation.nav
SBPO_2026_presentation.out
SBPO_2026_presentation.snm
SBPO_2026_presentation.toc
